<footer class="footer bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <!-- Column 1: About Us -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are AestheticShoes, providing the best casual, sport, and formal shoes for all your needs. Step into style with us!</p>
        </div>
  
        <!-- Column 2: Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Home</a></li>
            <li><a href="#" class="text-light">Shop</a></li>
            <li><a href="#" class="text-light">Contact Us</a></li>
            <li><a href="#" class="text-light">About Us</a></li>
          </ul>
        </div>
  
        <!-- Column 3: Follow Us -->
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div>
            <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
  
      <div class="text-center mt-3">
        <p>&copy; 2024 AestheticShoes. All rights reserved.</p>
      </div>
    </div>
     
  